

/* =Code
-----------------------------------------------------------------------------*/
pre,
code,
kbd,
samp,
var,
output {
  font-size: 90%;
  font-style: normal;
  font-family: 'Source Code Pro', "Lucida Console", "Courier New", monospace;
}

nav,
.footer {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
}

a.nav-link,a.navbar-brand {
  border-bottom: 0;
}

a.nav-link:hover,a.navbar-brand:hover {
  color: #007bff; /* Blue */
}

/* Badges */

a.badge.badge-red {
  color: #fff;
}

a.badge.badge-blue {
  color: #fff;
}

a.badge.badge-green {
  color: #fff;
}

.badge-large {
  font-size: 18px !important;
  text-transform: none !important;
  padding: 5px 5px 3px 5px;
  text-transform: none;
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.badge {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.label,
.badge {
  background: transparent;
  font-size: 12.75px;
  display: inline-block;
  line-height: 1;
  padding: 4px 7px 3px 7px;
  color: #0f0f0f;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.label-outline {
  background: none;
  border: 1px solid #0f0f0f;
  padding: 3px 6px 2px 6px;
}

.badge {
  border-radius: 15px;
}

.badge-small {
  font-size: 11.25px;
  padding: 5px 5px 3px 5px;
}

.label-black,
.label-blue,
.label-red,
.label-green,
.badge-black,
.badge-blue,
.badge-red,
.badge-green {
  color: #ffffff !important;
}

.label-black,
.badge-black {
  background: #0f0f0f;
}

.label-blue,
.badge-blue {
  background: #007bff; /* Blue */
}

.label-red,
.badge-red {
  background: #bd2130; /* Red */
}

.label-green,
.badge-green {
  background: #28a745; /* Green */
}

.label-yellow,
.badge-yellow {
  background: #ffc800;
}

.label-white,
.badge-white {
  background: #ffffff;
}

.image-left {
  float: left;
  margin: 0 1em 1em 0;
}

.fa-ul>li {
  margin: 0.5em;
}

.quarto-title-meta {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: transparent;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.quarto-title-meta-heading {
  margin: 1ex 1ex 0 1ex !important;
}
.quarto-title-meta-contents {
  margin: 0ex 1ex 1ex 1ex !important;
}


.video-player {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.youtube-player {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.quarto-listing-category.category-cloud {
  font-family: 'Fira Sans', 'Trebuchet
}

/* Ajuste o tamanho do logo na navbar */
.navbar-brand {
  background: url('images/logo.png');
  background-size: contain;
  padding-right: 5px !important;
  padding-left: 50px !important;
  background-repeat: no-repeat;
  color: #fff;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
